@model SiteOptions
<hr />
<footer>
    <p>
        @SR.CopyrightText PR |
        <a class="text-nowrap" asp-page="@SiteRoutes.Help" title="@SR.HelpLinkAltText" data-ga-label="Help Footer">
            @SR.HelpLinkText
        </a>
        |
        <a class="text-nowrap" asp-page="@SiteRoutes.PrivacyPolicy" title="@SR.PrivacyPolicyLinkAltText" data-ga-label="Privacy Policy Footer">
            @SR.PrivacyPolicyLinkText
        </a>
        |
        <a class="text-nowrap" asp-page="@SiteRoutes.TermsOfService" title="@SR.TermsOfServiceLinkAltText" data-ga-label="Terms of Service Footer">
            @SR.TermsOfServiceLinkText
        </a>
        |
        <a class="text-nowrap" asp-page="@SiteRoutes.Technology" title="@SR.TechnologyLinkAltText" data-ga-label="Technology Footer">
            @SR.TechnologyLinkText
        </a>
        <span id="build-date" class="d-none d-sm-inline" data-format="YYYY-MM-DD HH:mm Z" data-timestamp="@GitMetadata.Timestamp.ToString("u", CultureInfo.InvariantCulture)"></span>
    </p>
</footer>
