@inject SiteOptions Options
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand" title="View the homepage">
                <span>@Options.Metadata.Name <lazyimg src="@Url.CdnContent("avatar.png", Options)" aria-hidden="true" /></span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            @{
                bool isAuthenticated = User.Identity.IsAuthenticated;
            }
            <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                @if (!isAuthenticated)
                {
                    <li><a href="#" rel="nofollow" title="Sign in or register">Sign in/register</a></li>
                }
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        @if (isAuthenticated)
                        {
                            @User.GetDisplayName() <lazyimg alt="@User.Identity.Name" src="@User.GetAvatarUrl(Url.CdnContent("avatar.png", Options))" aria-hidden="true" />
                        }
                        else
                        {
                            <text>Links</text>
                        }
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Options?.ExternalLinks?.Skill" rel="noopener" target="_blank" title="Install London Travel for Amazon Alexa from amazon.co.uk">Install <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                        <li class="divider" role="separator"></li>
                        @if (isAuthenticated)
                        {
                            <li><a asp-route="Manage" rel="noopener" title="Manage your London Travel account">My account <i class="fa fa-cog" aria-hidden="true"></i></a></li>
                        }
                        <li><a asp-route="PrivacyPolicy" title="View the London Travel Alexa skill's privacy policy">Privacy Policy <i class="fa fa-gavel" aria-hidden="true"></i></a></li>
                        @if (isAuthenticated)
                        {
                            <li class="divider" role="separator"></li>
                            <li><a href="#" title="Sign out of London Travel">Sign out <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                        }
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-md hidden-lg">
                @if (!isAuthenticated)
                {
                    <li><a href="#" rel="nofollow" title="Sign in or register">Sign in/register</a></li>
                }
                else
                {
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Signed in as @User.GetDisplayName() <lazyimg alt="@User.Identity.Name" src="@User.GetAvatarUrl(Url.CdnContent("avatar.png", Options))" aria-hidden="true" />
                        </a>
                    </li>
                }
                <li><a href="@Options?.ExternalLinks?.Skill" rel="noopener" target="_blank" title="Install London Travel for Amazon Alexa from amazon.co.uk">Install <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                @if (isAuthenticated)
                {
                    <li><a asp-route="Manage" rel="noopener" title="Manage your London Travel account">My account <i class="fa fa-cog" aria-hidden="true"></i></a></li>
                }
                <li><a asp-route="PrivacyPolicy" title="View the London Travel Alexa skill's privacy policy">Privacy Policy <i class="fa fa-gavel" aria-hidden="true"></i></a></li>
                @if (isAuthenticated)
                {
                    <li><a href="#" title="Sign out of London Travel">Sign out <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                }
            </ul>
        </div>
    </div>
</div>
