@{
    var request = Context.Request;
}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a asp-page="@SiteRoutes.Home" class="navbar-brand" title="@SR.HomepageLinkAltText" data-ga-label="Homepage Navbar">
            <span>
                @SR.BrandName
                <lazyimg src="@request.CdnContent("avatar.png", Options)" class="pb-1" alt="@SR.BrandName" title="@SR.BrandName" aria-hidden="true" />
                <noscript>
                    <img src="@request.CdnContent("avatar.png", Options)" class="pb-1" alt="@SR.BrandName" title="@SR.BrandName" aria-hidden="true" />
                </noscript>
            </span>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="@SR.NavbarCollapseAltText">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbar-dropdown" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" data-ga-label="Navbar Menu">
                        @SR.NavbarMenuText
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbar-dropdown">
                        <li>
                            <a class="dropdown-item" href="@Options?.ExternalLinks?.Skill" rel="noopener noreferrer" target="_blank" title="@SR.InstallLinkAltText" data-ga-label="Install Navbar">
                                @SR.InstallLinkText
                                <span class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></span>
                            </a>
                        </li>
                        @if (Options?.Authentication?.IsEnabled == true)
                        {
                            <li><hr class="dropdown-divider"></li>
                            @if (User?.Identity?.IsAuthenticated == true)
                            {
                                <li>
                                    <a class="dropdown-item" asp-route="@SiteRoutes.Manage" title="@SR.ManageLinkAltText" data-ga-label="Manage Account Navbar">
                                        @SR.ManageLinkText
                                        <span class="fa-solid fa-user" aria-hidden="true"></span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a class="dropdown-item" asp-page="@SiteRoutes.Register" title="@SR.RegisterLinkAltText" data-ga-label="Register Navbar">
                                        @SR.RegisterLinkText
                                        <span class="fa-solid fa-user-plus" aria-hidden="true"></span>
                                    </a>
                                </li>
                            }
                        }
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" asp-page="@SiteRoutes.Help" title="@SR.HelpLinkAltText" data-ga-label="Help Navbar">
                                @SR.HelpLinkText
                                <span class="fa-solid fa-circle-question" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-page="@SiteRoutes.PrivacyPolicy" title="@SR.PrivacyPolicyLinkAltText" data-ga-label="Privacy Policy Navbar">
                                @SR.PrivacyPolicyLinkText
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-page="@SiteRoutes.TermsOfService" title="@SR.TermsOfServiceLinkAltText" data-ga-label="Terms of Service Navbar">
                                @SR.TermsOfServiceLinkText
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" asp-page="@SiteRoutes.Technology" title="@SR.TechnologyLinkAltText" data-ga-label="Technology Navbar">
                                @SR.TechnologyLinkText
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            @if (Options?.Authentication?.IsEnabled == true)
            {
                @await Html.PartialAsync("_SignInPartial")
            }
        </div>
    </div>
</nav>
