@model Microsoft.AspNetCore.Authentication.AuthenticationScheme
<button type="submit" class="btn btn-block btn-social @Html.GetSocialLoginButtonCss(Model.Name)" name="provider" value="@Model.Name" title="@SR.SignInButtonAltText(Model.DisplayName)" data-ga-label="Sign-In - @Model.DisplayName" data-toggle="modal" data-target=".sign-in-modal">
    @await Html.PartialAsync("_SocialIcon", Model.Name)
    @SR.SignInButtonText(Model.DisplayName)
</button>
