@model Microsoft.AspNetCore.Authentication.AuthenticationScheme
<button type="submit"
        class="btn btn-block btn-social @Html.GetSocialLoginButtonCss(Model!.Name)"
        name="provider"
        value="@Model.Name"
        title="@SR.SignInButtonAltText(Model.DisplayName!)"
        data-id="sign-in-@Model.Name.ToLowerInvariant()"
        data-ga-label="Sign-In - @Model.DisplayName"
        data-target=".sign-in-modal"
        data-toggle="modal">
    @await Html.PartialAsync("_SocialIcon", Model.Name)
    @SR.SignInButtonText(Model.DisplayName!)
</button>
