@{
    ViewBag.MetaDescription = SR.AlexaSignInMetaDescription;
    ViewBag.MetaRobots = "NOINDEX";
    ViewBag.Title = SR.AlexaSignInTitle;
}
@await Html.PartialAsync("_SignInErrors")
<section>
    <h3>@SR.AlexaSignInTitle</h3>
    <p>
        @SR.AlexaSignInParagraph1
    </p>
    <p>
        @SR.AlexaSignInParagraph2
    </p>
    <p>
        @SR.AlexaSignInParagraph3
    </p>
    <blockquote class="blockquote">
        <p>
            <em>
                @SR.CommuteSkillInvocation
            </em>
        </p>
    </blockquote>
</section>
<hr />
<h4>
    @SR.AlexaSignInFormTitle
</h4>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <section>
            @await Html.PartialAsync("_SignInForm")
        </section>
    </div>
</div>
<hr />
<section>
    <p>
        @SR.RegisterParagraph3
        <ul>
            <li>
                <a asp-page="@SiteRoutes.PrivacyPolicy" class="small" rel="noopener" title="@SR.PrivacyPolicyLinkAltText" data-ga-label="Privacy Policy (Register)">
                    @SR.PrivacyPolicyLinkText
                </a>
            </li>
            <li>
                <a asp-page="@SiteRoutes.TermsOfService" class="small" rel="noopener" title="@SR.TermsOfServiceLinkAltText" data-ga-label="Terms of Service (Register)">
                    @SR.TermsOfServiceLinkText
                </a>
            </li>
        </ul>
    </p>
</section>
@await Html.PartialAsync("_SignInModal")
