@{
    ViewBag.MetaDescription = SR.SignInMetaDescription;
    ViewBag.MetaRobots = "NOINDEX";
    ViewBag.Title = SR.SignInTitle;
}
@await Html.PartialAsync("_SignInErrors")
<h2>@SR.SignInTitle</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <h4>@SR.SignInSubtitle</h4>
            <hr />
            @await Html.PartialAsync("_SignInForm")
        </section>
    </div>
    <hr class="d-md-none" />
    <div class="col-md-8">
        <section>
            <h3>@SR.SignInRegisterSubtitle</h3>
            <p>
                @SR.SignInRegisterText
            </p>
            <p>
                <a class="btn btn-primary btn-lg" asp-page="@SiteRoutes.Register" title="@SR.RegisterLinkAltText" data-ga-label="Register (Button)">
                    @SR.RegisterLinkText
                    <span class="fa-solid fa-user-plus" aria-hidden="true"></span>
                </a>
            </p>
        </section>
    </div>
</div>
@await Html.PartialAsync("_SignInModal")
