<noscript>
    <hr />
    <form asp-route="@SiteRoutes.DeleteAccount" method="post">
        <div>
            <input type="submit" class="btn btn-danger" value="@SR.DeleteAccountButtonText" title="@SR.DeleteAccountButtonAltText" />
        </div>
    </form>
</noscript>
<div class="d-none js-hidden-control">
    <hr />
    <button class="btn btn-danger" title="@SR.DeleteAccountButtonAltText" data-id="delete-account" data-ga-label="Delete Account" data-bs-toggle="modal" data-bs-target="#delete-account-modal">
        @SR.DeleteAccountButtonText
    </button>
</div>
<div id="delete-account-modal" class="modal js-modal" data-id="modal-delete-account" tabindex="-1" role="dialog" aria-describedby="delete-account-modal-description" aria-labelledby="delete-account-modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="delete-account-modal-title">@SR.DeleteAccountModalTitle</h4>
                <button type="button" class="btn-close js-delete-content" data-bs-dismiss="modal" aria-label="@SR.CloseButtonText" data-ga-label="Delete Account Close"></button>
            </div>
            <div class="modal-body">
                <div class="js-delete-content">
                    <div id="delete-account-modal-description" class="alert alert-warning" role="alert">
                        <p class="lead">
                            <strong>@SR.DeleteAccountWarning</strong>
                        </p>
                    </div>
                    <p>
                        @SR.DeleteAccountParagraph1Html
                    </p>
                    <p>
                        @SR.DeleteAccountParagraph2
                    </p>
                    <p>
                        @SR.DeleteAccountParagraph3Html
                    </p>
                </div>
                <div class="d-flex align-items-center justify-content-center js-delete-loader d-none">
                    <p class="lead">
                        @SR.DeleteInProgressText
                    </p>
                    <p>
                        <div class="loader" aria-hidden="true"></div>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <form asp-route="@SiteRoutes.DeleteAccount" method="post" class="js-modal-form">
                    <button type="button" class="btn btn-default js-delete-control" title="@SR.CancelButtonAltText" data-bs-dismiss="modal" data-ga-label="Delete Account Cancel">@SR.CancelButtonText</button>
                    <input type="submit" class="btn btn-danger disabled js-delete-control js-modal-confirm" value="@SR.DeleteAccountConfirmationButtonText" title="@SR.DeleteAccountConfirmationButtonAltText"  data-id="delete-account-confirm" data-ga-label="Delete Account Confirm" disabled />
                </form>
            </div>
        </div>
    </div>
</div>
