<noscript>
    <hr />
    <form asp-route="@SiteRoutes.DeleteAccount" method="post" class="form-horizontal">
        <div>
            <input type="submit" class="btn btn-danger" value="@SR.DeleteAccountButtonText" title="@SR.DeleteAccountButtonAltText" data-ga-label="Delete Account" />
        </div>
    </form>
</noscript>
<div id="delete-account" class="hide">
    <hr />
    <button class="btn btn-danger" title="@SR.DeleteAccountButtonAltText" data-ga-label="Delete Account" data-toggle="modal" data-target=".delete-account-modal">
        @SR.DeleteAccountButtonText
    </button>
</div>
<div class="modal delete-account-modal" tabindex="-1" role="dialog" aria-describedby="delete-account-modal-description" aria-labelledby="delete-account-modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close js-delete-content" data-dismiss="modal" aria-label="@SR.CloseButtonText" data-ga-label="Delete Account Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="delete-account-modal-title">@SR.DeleteAccountModalTitle</h4>
            </div>
            <div class="modal-body">
                <div class="js-delete-content">
                    <div id="remove-link-modal-description" class="alert alert-warning" role="alert">
                        <p class="lead">
                            <strong>@SR.DeleteAccountWarning</strong>
                        </p>
                    </div>
                    <p>
                        @SR.DeleteAccountParagraph1Html
                    </p>
                    <p>
                        @SR.DeleteAccountParagraph2
                    </p>
                    <p>
                        @SR.DeleteAccountParagraph3Html
                    </p>
                </div>
                <div class="js-delete-loader hide">
                    <p class="lead text-center">
                        @SR.DeleteInProgressText
                    </p>
                    <p>
                        <div class="center-block loader" aria-hidden="true"></div>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <form id="delete-account-js" asp-route="@SiteRoutes.DeleteAccount" method="post" class="form-horizontal">
                    <button type="button" class="btn btn-default js-delete-control" title="@SR.CancelButtonAltText" data-dismiss="modal" data-ga-label="Delete Account Cancel">@SR.CancelButtonText</button>
                    <input type="submit" class="btn btn-danger disabled js-delete-control js-delete-confirm" value="@SR.DeleteAccountConfirmationButtonText" title="@SR.DeleteAccountConfirmationButtonAltText" data-ga-label="Delete Account Confirm" disabled />
                </form>
            </div>
        </div>
    </div>
</div>
