@model ManageViewModel
@{
    ViewBag.MetaDescription = SR.ManageMetaDescription;
    ViewBag.MetaRobots = "NOINDEX";
    ViewBag.Title = SR.ManageTitle;
}
@await Html.PartialAsync("_SignInErrors")
<h2>@SR.ManageTitle</h2>
<hr />
<div class="row">
    <div class="col-md-@(Model.CanAddMoreLogins ? "8" : "12")">
        <h3>@SR.ManageLinkedAccountsSubtitle</h3>
        <hr />
        <p>
        @if (Model.IsLinkedToAlexa)
        {
            @SR.ManageLinkedToAlexa <i class="fa fa-check text-success" aria-hidden="true"></i>
            @await Html.PartialAsync("_RemoveAlexaLinkModal", Model)
        }
        else
        {
            @SR.ManageNotLinkedToAlexa <i class="fa fa-times text-danger" aria-hidden="true"></i>
        }
        <hr />
        <p>
            @SR.ManageLinkedAccountsContent
        </p>
        <table class="table">
            <tbody>
                @foreach (var provider in Model?.CurrentLogins)
                {
                    <tr>
                        <td class="lead">
                            @await Html.PartialAsync("_SocialIcon", provider.LoginProvider)
                            @provider.LoginProvider
                        </td>
                        <td>
                            @if (Model.ShowRemoveButton)
                            {
                                <form asp-route="@SiteRoutes.RemoveAccountLink" method="post" class="form-horizontal">
                                    <div>
                                        <input asp-for="@provider.LoginProvider" name="LoginProvider" type="hidden" />
                                        <input asp-for="@provider.ProviderKey" name="ProviderKey" type="hidden" />
                                        <input type="submit" class="btn btn-default" value="@SR.RemoveAccountButtonText" title="@SR.RemoveAccountButtonAltText(provider.LoginProvider)" data-ga-label="Remove Account Link - @provider.LoginProvider" data-toggle="modal" data-target=".remove-link-modal" />
                                    </div>
                                </form>
                            }
                            else
                            {
                                @: &nbsp;
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.CanAddMoreLogins)
    {
        <div class="col-md-4">
            <h3>@SR.ManageLinkOtherAccountsSubtitle</h3>
            <hr />
            <form asp-route="@SiteRoutes.LinkAccount" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model?.OtherLogins)
                        {
                            @await Html.PartialAsync("_SocialButton", provider)
                        }
                    </p>
                </div>
            </form>
        </div>
    }
</div>
@await Html.PartialAsync("_DeleteAccount")
@await Html.PartialAsync("_SignInModal")
@await Html.PartialAsync("_RemoveAccountLinkModal")
@if (Model.OtherLogins.Any())
{
    @section stylesBody {
        @await Html.PartialAsync("_SocialButtonsStyles")
    }
}
@section scripts {
    <environment names="Development">
        <script src="~/assets/js/site.manage.js" asp-append-version="true" defer></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/assets/js/site.manage.min.js" asp-append-version="true" defer></script>
    </environment>
}
