@model ManageViewModel
@{
    ViewBag.MetaDescription = "Manage your account details for the London Travel skill.";
    ViewBag.MetaRobots = "NOINDEX";
    ViewBag.Title = "Manage your account";
}
<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewData["StatusMessage"]</p>

<div class="row">
    <div class="col-md-8">
        <h4>Linked Accounts</h4>
        <hr />
        <p>
            Listed below are the accounts you have linked to your London Travel account for signing in with.
        </p>
        <table class="table">
            <tbody>
                @foreach (var provider in Model.CurrentLogins.OrderBy((p) => p.ProviderDisplayName).ThenBy((p) => p.LoginProvider))
                {
                    <tr>
                        <td class="lead">
                            @await Html.PartialAsync("_SocialIcon", provider.LoginProvider)
                            @provider.LoginProvider
                        </td>
                        <td>
                            @if (ViewBag.ShowRemoveButton == true)
                            {
                                <form asp-route="@SiteRoutes.RemoveAccountLink" method="post" class="form-horizontal">
                                    <div>
                                        <input asp-for="@provider.LoginProvider" name="LoginProvider" type="hidden" />
                                        <input asp-for="@provider.ProviderKey" name="ProviderKey" type="hidden" />
                                        <input type="submit" class="btn btn-default" value="Remove" title="Remove link to @provider.LoginProvider from your account" data-toggle="modal" data-target=".remove-link-modal" />
                                    </div>
                                </form>
                            }
                            else
                            {
                                @: &nbsp;
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        @if (Model.OtherLogins.Count > 0)
        {
            <h4>Link another account</h4>
            <hr />
            <form asp-route="@SiteRoutes.LinkAccount" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.OtherLogins.OrderBy((p) => p.DisplayName).ThenBy((p) => p.AuthenticationScheme))
                        {
                            @await Html.PartialAsync("_SocialButton", provider)
                        }
                    </p>
                </div>
            </form>
        }
    </div>
</div>
<div id="delete-account" class="hide">
    <hr />
    <button class="btn btn-danger" title="Permanently delete your London Travel account" data-toggle="modal" data-target=".delete-account-modal">
        Delete your account
    </button>
</div>
<noscript>
    <hr />
    <form asp-route="@SiteRoutes.DeleteAccount" method="post" class="form-horizontal">
        <div>
            <input type="submit" class="btn btn-danger" value="Delete your account" title="Permanently delete your London Travel account" />
        </div>
    </form>
</noscript>
@await Html.PartialAsync("_SignInModal")
<div class="modal fade remove-link-modal" tabindex="-1" role="dialog" aria-describedby="remove-link-modal-description" aria-labelledby="remove-link-modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="remove-link-modal-title">Removing account link...</h4>
                <div class="sr-only" id="remove-link-modal-description">Please wait while your account link is removed.</div>
            </div>
            <div class="modal-body">
                <p>
                    <div class="center-block loader" aria-hidden="true"></div>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade delete-account-modal" tabindex="-1" role="dialog" aria-describedby="delete-account-modal-description" aria-labelledby="delete-account-modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close js-delete-content" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="remove-link-modal-title">Delete your account</h4>
            </div>
            <div class="modal-body">
                <div class="js-delete-content">
                    <div id="remove-link-modal-description" class="alert alert-warning" role="alert">
                        <p class="lead">
                            <strong>Warning!</strong>
                        </p>
                    </div>
                    <p>
                        Clicking the <strong>Delete</strong> button will <strong><em>permanently</em></strong>
                        delete your London Travel account and any data associated with it.
                    </p>
                    <p>
                        If you have linked the London Travel Alexa skill to this account you will
                        no longer be able to ask Alexa about your commute using the skill unless you
                        create a new account and re-link the skill using an Alexa-enabled device.
                    </p>
                    <p>
                        Are you sure you want to delete your account? This action <strong>cannot</strong> be undone.
                    </p>
                </div>
                <div class="js-delete-loader hide">
                    <p class="lead text-center">
                        Your account is being deleted...
                    </p>
                    <p>
                        <div class="center-block loader" aria-hidden="true"></div>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <form id="delete-account-js" asp-route="@SiteRoutes.DeleteAccount" method="post" class="form-horizontal">
                    <button type="button" class="btn btn-default js-delete-control" title="Cancel" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger disabled js-delete-control js-delete-confirm" value="Delete" title="Permanently delete your account" />
                </form>
            </div>
        </div>
    </div>
</div>
@if (Model.OtherLogins.Count > 0)
{
    @section stylesBody {
        @await Html.PartialAsync("_SocialButtonsScripts")
    }
}
@section scripts {
    <script>
        (function () {
            var setupDelete = function () {
                $("#delete-account")
                    .fadeIn("slow")
                    .removeClass("hide");
                $("#delete-account-js").on("submit", function () {
                    $(".js-delete-control").addClass("disabled");
                    $(".js-delete-content").addClass("hide");
                    $(".js-delete-loader").removeClass("hide");
                });
                $(".delete-account-modal").on("show.bs.modal", function () {
                    setTimeout(function () {
                        $(".js-delete-confirm").removeClass("disabled");
                    }, 3000);
                });
            };
            if ("jQuery" in window) {
                setupDelete();
            }
            else {
                setTimeout(setupDelete, 1000);
            }
        })();
    </script>
}
