@model ManageViewModel
@{
    ViewBag.MetaDescription = "Manage your account details for the London Travel skill.";
    ViewBag.MetaRobots = "NOINDEX";
    ViewBag.Title = "Manage your account";
}
<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewData["StatusMessage"]</p>

<div class="row">
    <div class="col-md-8">
        <h4>Linked Accounts</h4>
        <table class="table">
            <tbody>
                @foreach (var provider in Model.CurrentLogins.OrderBy((p) => p.ProviderDisplayName).ThenBy((p) => p.LoginProvider))
                {
                    <tr>
                        <td>
                            @await Html.PartialAsync("_SocialIcon", provider.LoginProvider)
                            @provider.LoginProvider
                        </td>
                        <td>
                            @if (ViewBag.ShowRemoveButton == true)
                            {
                                <form asp-route="RemoveAccount" method="post" class="form-horizontal">
                                    <div>
                                        <input asp-for="@provider.LoginProvider" name="LoginProvider" type="hidden" />
                                        <input asp-for="@provider.ProviderKey" name="ProviderKey" type="hidden" />
                                        <input type="submit" class="btn btn-default" value="Remove" title="Remove link to @provider.LoginProvider from your account" />
                                    </div>
                                </form>
                            }
                            else
                            {
                                @: &nbsp;
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        @if (Model.OtherLogins.Count > 0)
        {
            <h4>Link another account</h4>
            <hr />
            <form asp-route="LinkAccount" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.OtherLogins.OrderBy((p) => p.DisplayName).ThenBy((p) => p.AuthenticationScheme))
                        {
                            @await Html.PartialAsync("_SocialButton", provider)
                        }
                    </p>
                </div>
            </form>
        }
    </div>
</div>
@if (Model.OtherLogins.Count > 0)
{
    @section stylesBody {
        @await Html.PartialAsync("_SocialButtonsScripts")
    }
}
