@model ManageViewModel
@{
    ViewBag.MetaDescription = "Manage your account details for the London Travel skill.";
    ViewBag.MetaRobots = "NOINDEX";
    ViewBag.Title = "Manage your account";
}
@await Html.PartialAsync("_SignInErrors")
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-@(Model.CanAddMoreLogins ? "8" : "12")">
        <h4>Linked Accounts</h4>
        <hr />
        <p>
            Listed below are the accounts you have linked to your London Travel account for signing in with.
        </p>
        <table class="table">
            <tbody>
                @foreach (var provider in Model?.CurrentLogins)
                {
                    <tr>
                        <td class="lead">
                            @await Html.PartialAsync("_SocialIcon", provider.LoginProvider)
                            @provider.LoginProvider
                        </td>
                        <td>
                            @if (Model.ShowRemoveButton)
                            {
                                <form asp-route="@SiteRoutes.RemoveAccountLink" method="post" class="form-horizontal">
                                    <div>
                                        <input asp-for="@provider.LoginProvider" name="LoginProvider" type="hidden" />
                                        <input asp-for="@provider.ProviderKey" name="ProviderKey" type="hidden" />
                                        <input type="submit" class="btn btn-default" value="Remove" title="Remove link to @provider.LoginProvider from your account" data-ga-label="Remove Account Link - @provider.LoginProvider" data-toggle="modal" data-target=".remove-link-modal" />
                                    </div>
                                </form>
                            }
                            else
                            {
                                @: &nbsp;
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.CanAddMoreLogins)
    {
        <div class="col-md-4">
            <h4>Link another account</h4>
            <hr />
            <form asp-route="@SiteRoutes.LinkAccount" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model?.OtherLogins)
                        {
                            @await Html.PartialAsync("_SocialButton", provider)
                        }
                    </p>
                </div>
            </form>
        </div>
    }
</div>
@await Html.PartialAsync("_DeleteAccount")
@await Html.PartialAsync("_SignInModal")
@await Html.PartialAsync("_RemoveAccountLinkModal")
@if (Model.OtherLogins.Any())
{
    @section stylesBody {
        @await Html.PartialAsync("_SocialButtonsScripts")
    }
}
@section scripts {
    <environment names="Development">
        <script src="~/assets/js/site.manage.js" asp-append-version="true" defer></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/assets/js/site.manage.min.js" asp-append-version="true" defer></script>
    </environment>
}
