@model ManageViewModel
@{
    ViewBag.MetaDescription = SR.ManageMetaDescription;
    ViewBag.MetaRobots = "NOINDEX";
    ViewBag.Title = SR.ManageTitle;
}
@await Html.PartialAsync("_SignInErrors")
<h2>@SR.ManageTitle</h2>
<hr />
<div class="row">
    <div class="col-md-@(Model!.CanAddMoreLogins ? "8" : "12")">
        <h3>@SR.ManageLinkedAccountsSubtitle</h3>
        <hr />
        <p data-id="alexa-link" data-is-linked="@Model.IsLinkedToAlexa.ToString().ToLowerInvariant()">
            @if (Model.IsLinkedToAlexa)
            {
                @SR.ManageLinkedToAlexa
                <span class="fa-solid fa-check text-success" aria-hidden="true"></span>
                @await Html.PartialAsync("_RemoveAlexaLinkModal", Model)
            }
            else
            {
                @SR.ManageNotLinkedToAlexa
                <span class="fa-solid fa-xmark text-danger" aria-hidden="true"></span>
            }
        </p>
        <hr />
        <p>
            @SR.ManageLinkedAccountsContent
        </p>
        <table class="table">
            <tbody>
                @foreach (var provider in Model?.CurrentLogins!)
                {
                    <tr data-linked-account data-provider="@provider.LoginProvider">
                        <td class="lead">
                            @await Html.PartialAsync("_SocialIcon", provider.LoginProvider)
                            <span class="brand-name">@provider.ProviderDisplayName</span>
                        </td>
                        <td>
                            @if (Model.ShowRemoveButton)
                            {
                                <form asp-route="@SiteRoutes.RemoveAccountLink" method="post">
                                    <div>
                                        <input asp-for="@provider.LoginProvider" name="LoginProvider" type="hidden" />
                                        <input asp-for="@provider.ProviderKey" name="ProviderKey" type="hidden" />
                                        <input type="submit"
                                               class="btn btn-outline-danger"
                                               value="@SR.RemoveAccountButtonText"
                                               title="@SR.RemoveAccountButtonAltText(provider.ProviderDisplayName)"
                                               data-id="remove-@provider.LoginProvider.ToLowerInvariant()-link"
                                               data-ga-label="Remove Account Link - @provider.ProviderDisplayName"
                                               data-bs-toggle="modal"
                                               data-bs-target=".remove-link-modal"
                                               />
                                    </div>
                                </form>
                            }
                            else
                            {
                                @: &nbsp;
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.CanAddMoreLogins)
    {
        <div class="col-md-4">
            <h3>@SR.ManageLinkOtherAccountsSubtitle</h3>
            <hr />
            <form asp-route="@SiteRoutes.LinkAccount" method="post">
                <div>
                    <p>
                        <div class="vstack gap-2">
                            @foreach (var scheme in Model?.OtherLogins!)
                            {
                                @await Html.PartialAsync("_SocialButton", scheme)
                            }
                        </div>
                    </p>
                </div>
            </form>
        </div>
    }
</div>
@await Html.PartialAsync("_DeleteAccount")
@await Html.PartialAsync("_SignInModal")
@await Html.PartialAsync("_RemoveAccountLinkModal")
