<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a asp-page="@SiteRoutes.Home" class="navbar-brand" title="@SR.HomepageLinkAltText" data-ga-label="Homepage Navbar">
                <span>
                    @SR.BrandName
                    <lazyimg src="@Url.CdnContent("avatar.png", Options)" alt="@SR.BrandName" title="@SR.BrandName" aria-hidden="true" />
                    <noscript>
                        <img src="@Url.CdnContent("avatar.png", Options)" alt="@SR.BrandName" title="@SR.BrandName" aria-hidden="true" />
                    </noscript>
                </span>
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-ga-label="Navbar Collapse">
                <span class="sr-only">@SR.NavbarCollapseAltText</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" data-ga-label="Navbar Menu">
                        @SR.NavbarMenuText <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Options?.ExternalLinks?.Skill" rel="noopener noreferrer" target="_blank" title="@SR.InstallLinkAltText" data-ga-label="Install Navbar">
                                @SR.InstallLinkText
                                <i class="fa fa-external-link" aria-hidden="true"></i>
                            </a>
                        </li>
                        @if (Options?.Authentication?.IsEnabled == true)
                        {
                            <li role="separator" class="divider"></li>
                            @if (User?.Identity?.IsAuthenticated == true)
                            {
                                <li>
                                    <a asp-route="@SiteRoutes.Manage" title="@SR.ManageLinkAltText" data-ga-label="Manage Account Navbar">
                                        @SR.ManageLinkText <i class="fa fa-user" aria-hidden="true"></i>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-page="@SiteRoutes.Register" title="@SR.RegisterLinkAltText" data-ga-label="Register Navbar">@SR.RegisterLinkText <i class="fa fa-user-plus" aria-hidden="true"></i></a>
                                </li>
                            }
                        }
                        <li role="separator" class="divider"></li>
                        <li>
                            <a asp-page="@SiteRoutes.Help" title="@SR.HelpLinkAltText" data-ga-label="Help Navbar">
                                @SR.HelpLinkText <i class="fa fa-question-circle" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a asp-page="@SiteRoutes.PrivacyPolicy" title="@SR.PrivacyPolicyLinkAltText" data-ga-label="Privacy Policy Navbar">
                                @SR.PrivacyPolicyLinkText
                            </a>
                        </li>
                        <li>
                            <a asp-page="@SiteRoutes.TermsOfService" title="@SR.TermsOfServiceLinkAltText" data-ga-label="Terms of Service Navbar">
                                @SR.TermsOfServiceLinkText
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a asp-page="@SiteRoutes.Technology" title="@SR.TechnologyLinkAltText" data-ga-label="Technology Navbar">
                                @SR.TechnologyLinkText
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            @if (Options?.Authentication?.IsEnabled == true)
            {
                @await Html.PartialAsync("_SignInPartial")
            }
        </div>
    </div>
</nav>
