@model LinePreferencesViewModel
@{
    ViewBag.Title = SR.HomepageTitle;
}
@await Html.PartialAsync("_Alerts", Model)
@if (!Model.IsAuthenticated)
{
    @await Html.PartialAsync("_Jumbotron")
}
else if (Model.AllLines.Any())
{
    <h2>@SR.ManagePreferencesTitle</h2>
    <hr />
    <section>
        @if (Model.HasFavourites)
        {
            @if (Model.SelectedLineCount == 1)
            {
                <p>
                    @SR.LinePreferencesSingular
                </p>
            }
            else
            {
                <p>
                    @SR.LinePreferencesPlural(Model.SelectedLineCount)
                </p>
            }
        }
        else
        {
            <p class="lead">
                @SR.LinePreferencesNoneLead
            </p>
            <p>
                @SR.LinePreferencesNoneContent
            </p>
            <blockquote>
                <p>
                    <i>
                        @SR.CommuteSkillInvocation
                    </i>
                </p>
            </blockquote>
        }
        <hr />
        @await Html.PartialAsync("_UpdateForm", Model)
    </section>
    @await Html.PartialAsync("_UpdateModal")
}
@if (Model.IsAuthenticated)
{
    @section scripts {
        <environment names="Development">
            <script src="~/assets/js/site.preferences.js" asp-append-version="true" defer></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/assets/js/site.preferences.min.js" asp-append-version="true" defer></script>
        </environment>
    }
}
