@model IEnumerable<FavoriteLineItem>
<ul>
@foreach (var line in Model!)
{
    <li class="checkbox js-travel-line list-group-item p-3 travel-line travel-line-@line.Id" data-line-preference>
        <input class="form-check-input js-line-preference" type="checkbox" id="preference-@line.Id" name="@(nameof(UpdateLinePreferencesViewModel.FavoriteLines))" value="@line.Id" data-line-id="@line.Id" data-line-name="@line.DisplayName" @(line.IsFavorite ? "checked" : string.Empty)>
        <label class="form-check-label js-travel-line" for="preference-@line.Id">@line.DisplayName</label>
    </li>
}
</ul>
